<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wuhan_Guide_Helper"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".databaseUi.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Wuhan_Guide_Helper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainScreenActivity -->
        <activity
            android:name=".MainScreenActivity"
            android:exported="true"
            android:label="@string/main_screen_activity_label"
            android:theme="@style/Theme.Wuhan_Guide_Helper">
        </activity>

        <!-- ViewpointActivity -->
        <activity
            android:name=".ViewpointActivity"
            android:exported="true"
            android:label="@string/viewpoint_activity_label"
            android:theme="@style/Theme.Wuhan_Guide_Helper">
        </activity>

        <!-- ContextActivity -->
        <activity
            android:name=".databaseUi.ContextActivity"
            android:exported="true"
            android:label="@string/context_activity_label"
            android:theme="@style/Theme.Wuhan_Guide_Helper">
        </activity>

    </application>

</manifest>